<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">
    <parameter name="baseUrl" value="https://qa.koel.app/"/>
    <test name="Example Test" preserve-order="false">
        <classes>
            <class name="BaseTest"/>
            <class name="Homework24">
                <methods>
                    <include name="createNewPlaylist"/>
                    <include name="loginWithValidCredentials"/>
                    <include name="addSongToExistingPlaylist"/>
                    <include name="renamePlaylist"/>
                    <include name="deletePlaylist"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>